:root {
    --primary-color: #b266b2;
    --secondary-color: #66b2b2;
  
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: .6s
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
    border: 2px solid var(--primary-color);
}

.btn-primary:hover {
    background: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn-outline-primary {
    background: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn-outline-primary:hover {
    background: var(--primary-color);
    color: #fff;
    border: 2px solid var(--primary-color);
}

.btn-secondary {
    background: var(--secondary-color);
    color: #fff;
    border: 2px solid var(--secondary-color);
}

.btn-secondary:hover {
    background: #fff;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.btn-outline-secondary {
    background: #fff;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.btn-outline-secondary:hover {
    background: var(--secondary-color);
    color: #fff;
    border: 2px solid var(--secondary-color);
}